h2 {
    display: flex;
    justify-content: center;
}

.total {
    display: flex;
    justify-content: center;
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 10px;
}

.sheet {
    border: 1px solid red;
    max-width: 500px;
    max-height: 500px;
    display: flex;
    flex-wrap: wrap;
}
